body {
    background-color: darkturquoise;
    font-family: 'Lobster', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: crimson;
    max-width: 550px;
    margin: 20px auto;
    border-radius: 7%;
}

h1 {
    font-size: 60px;
    color: #ffe600;
    margin: 10px;
}

.grid-container .grid-item {
    background-color: rgb(224, 224, 224);
}

.grid-container {
    padding: 20px;
}

footer {
    text-align: center;
}